# Réécrit une URL de type xxx/yyy/zzz en index.php?controleur=xxx&action=yyy&id=zzz
RewriteEngine on
RewriteRule (?!assets/.+\.[a-z]+)(?!index\.php)(^([a-zA-Z]*)/?([\.a-zA-Z]*)?/?([a-zA-Z0-9]*)?/?$) index.php?controller=$2&action=$3&id=$4 [NC,L]