html, body {
    margin: 0;
    min-height: 100%;
    height: 100%;
}

footer, .push{
    min-height: 75px;
    padding-top: 25px;
}

header {
    min-height: 75px;
}

.content-wrapper {
    min-height: 100%;
    margin-top: 0px;
    padding-top: 75px;
    margin-bottom: -75px;
    padding-bottom: 75px;
}

table, th, td{
    border: 1px solid black;
}

.img-logo{
    height: 50px;
    width: auto;
}

.li-offers {
    font-size: medium;
    color: #818181;
}

.li-offers:hover{
    color: #616161;
    text-decoration: none;
}

.product-box {
    box-shadow: #BBBBBB 5px 5px 5px;
}

.product-box-clickable {
    color: #616161;
}

.review-box {
    box-shadow: #BBBBBB 5px 5px 5px;
}

.product-box-clickable:hover {
    color: black;
    text-decoration: none;
}

.register-box {
    box-shadow: #BBBBBB 5px 5px 5px;
}

.order-box {
    box-shadow: #BBBBBB 3px 3px 3px;
}

.order-link {
    color: #616161;
}

.order-link:hover {
    color: black;
    text-decoration: none;
}

.price-shadow {
    box-shadow: #BBBBBB 2px 2px 2px;
}

.product-img {
    border-radius: 20px;
}

.account-category {
    font-size: large;
    padding: 0px 10px;
    margin: 0px 30px;
}

.account-info {
    font-size: large;
    padding: 0px 30px;
    margin: 0px 30px;
    color:#616161;
}

.larger-text {
    font-size: large;
}